.image{
    width: 100%;
}

.photo-card{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.response-card{
    width: 50%;
    min-width: fit-content;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    font-size: x-large;
}

.show-plot-button{
    width: 50%;
    margin: auto;
    min-width: fit-content;
    margin-top: 15px;
}

.error-card{
    width: 50%;
    min-width: fit-content;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    font-size: x-large;
    color: crimson;
}

.welcome-card{
    min-width: 300px;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.welcome-title{
    margin-top: 15px;
    text-align: center;
}

.welcome-message{
    font-size: large;
}

.solution-card{
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    font-size: x-large;
    min-width: fit-content;
}

.solution-label{
    font-size: large;
    display: block;
    margin: 5px;
}

.response-div{
    margin-bottom: 10px;   
}

.response-content{
    margin-bottom: 150px;
}